* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #efefef;
    font: 18px/24px serif;
}

h1 {
    font: bold 24px serif;
    text-align: center;
}

p {
    padding: 20px 10px;
}

ul {
    padding: 0 0 20px 40px;
}

li {
    margin-bottom: 5px;
}

.wrapper {
    padding: 50px;
    width: 512px;
    background-color: white;
    margin-top: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2); 
}

.photo {
    display: block;
    width: 150px;
    height: 180px;
    margin: 20px auto 10px;
}

.line {
    border-top: 1px solid grey;
}