@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helvetica/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helvetica/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html,
body{
    width: 100%;
    height: 100%;
    font-family: 'helveticaneue', Tahoma, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.all{
    height: 100%;
/*    overflow: hidden;*/
    font-size: 14px;
    color: white;
}

/*---START HEADER---*/

header{
    position: absolute;
    background: #069;
    height: 36px;
    width: 100%;
    min-width: 37%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

/*---START MENU---*/

.topmenu{
    display: flex;
}

.topmenu li{
    display: inline-block;
    height: 36px;
    color: #60b5ed;
}

.topmenu li a{
    display: block;
    padding: 0 10px;
    text-align: center;
    line-height: 36px;
}

.topmenu li a:hover {
    background-color: #4eabda;
    color:white;
}

/*---END MENU---*/

.flag {
    height: 32px;
    border-left: 1px solid #56a2dc;
    line-height: 32px;
}

.flag a{
    display: block;
    height: 32px;
    padding: 0 15px;
}

.fa-flag{
    font-size: 20px;
}

.flag:hover{
    color: turquoise;
}

.enter{
    margin-right: 20px;
    padding: 0 15px;
    height: 36px;
    background: url(../img/enter-bg.jpg) repeat-x;
    line-height: 36px;
}

.enter a{
    text-decoration: underline;
}

/*---END HEADER---*/

.wrapper{
    height: 100%;
    width: 100%;
    background: #9cc url(../img/bg.gif) center center no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*START REGISTER*/

.register{
    width: 560px;
    height: 613px;
/*    margin: auto;*/
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid white;
    font-size: 24px;
    text-align: center;
}

/*START FACEBOOK*/

.facebook{
    width: 276px;
    height: 35px; 
    background-color: #2b4170; 
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border-radius: 3px;
}

.facebook a{
    height: 35px;
    display: flex;
    align-items: stretch;
}

.fa-facebook{
    padding: 0 10px;
    font-size: 20px;
    line-height: 35px;
    border-right: 1px solid #336;
}
.facebook a span{
    display: block;
   line-height: 35px;
    font-size: 18px;
}

.first{
    border-left: 1px solid #669;
    padding-left: 20px;
}

.bold{
    font-weight: bold;
}

.middle{
    padding: 0 5px;
}

.last{
    padding-left: 20px;
}

/*END FACEBOOK*/

.ou{
    display: flex;
    align-items: center;
}

.ou p{
    color: #999;
    margin: 0 3px;
}

.line{
    width: 124px;
    border-top: 1px solid #999;
    border-bottom: 1px solid black;
}

/*START FORM*/

input[type="text"],
[type="email"],
[type="password"] {
    display: block;
    width: 276px;
    height: 35px;
    margin: 20px auto;
    padding: 0 15px;
    background-color: #0f0f0f;
    border: none;
    -webkit-box-shadow: inset 0px -1px 1px 0px rgba(204,204,204,1);
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(204,204,204,1);
    box-shadow: inset 0px -1px 1px 0px rgba(204,204,204,1);
    font-size: 14px;
}

input[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus {
    background-color: #369;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(51,153,153,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(51,153,153,1);
    box-shadow: 0px 0px 10px 1px rgba(51,153,153,1);
    color: white;
}

input[type="submit"]{
    display: block;
    width: 160px;
    height: 40px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background: rgba(51,153,204,1);
    background: -moz-linear-gradient(top, rgba(51,153,204,1) 0%, rgba(51,153,204,1) 20%, rgba(71,182,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,153,204,1)), color-stop(20%, rgba(51,153,204,1)), color-stop(100%, rgba(71,182,222,1)));
    background: -webkit-linear-gradient(top, rgba(51,153,204,1) 0%, rgba(51,153,204,1) 20%, rgba(71,182,222,1) 100%);
    background: -o-linear-gradient(top, rgba(51,153,204,1) 0%, rgba(51,153,204,1) 20%, rgba(71,182,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,153,204,1) 0%, rgba(51,153,204,1) 20%, rgba(71,182,222,1) 100%);
    background: linear-gradient(to bottom, rgba(51,153,204,1) 0%, rgba(51,153,204,1) 20%, rgba(71,182,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399cc', endColorstr='#47b6de', GradientType=0 );
    font-size: 14px;
    color: white;
}

form div{
    margin: 0 auto;
    color: #ccc;
}
/*END FORM*/

.remark{
    width: 299px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 11px;
    color: #ccc;
}

/*---END REGISTER---*/
